{% load static %}

<!DOCTYPE html>
<html lang="eng">
    <head>
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

        <!-- CSS Styles -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
        <link rel="stylesheet" href="{% static 'css/barfiller.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
        <style>
            #nav-bar{
                background-color: black;
            }
            .banner-text{
                position:relative; 
                top:-50vh;
                left: 60vw;
            }
            .owl-dot{
                z-index: auto;
                color: blue;
            }
            #nav-bar-subsystem{
                z-index:2000;
            }
            .nav-menu ul li a{
                font-size : 18px;
            }
        </style>

        {% block head %}
        {% endblock %}
    </head>
    <body style="background-color: black;">
        <div class="container-fluid" id="nav-bar" style="z-index: 2000;">
            <div class="row" style="display:flex; align-items: center;">
                <div class="col-lg-3">
                    <!--div class="logo"-->
                        <a class="navbar-brand" href="{% url 'mysite:index' %}">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </a>
                    <!---/div-->
                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu">
                        <ul>
                            <li id="nav-bar-home"><a href="{% url 'mysite:index' %}">Home</a></li>
                            <li id="nav-bar-about"><a href="{% url 'mysite:about' %}">About Us</a></li>
                            <li id="nav-bar-team"><a href="{% url 'mysite:team' %}">Our Team</a></li>
                            <li id="nav-bar-subsystem"><a href="#">Subsystems</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'mysite:aerodynamics' %}">Aerodynamics</a></li>
                                    <li><a href="{% url 'mysite:electronics' %}">Electronics</a></li>
                                    <li><a href="{% url 'mysite:vehicledynamics' %}">Vehicle Dynamics</a></li>
                                    <li><a href="{% url 'mysite:powertrain' %}">Powertrain</a></li>
                                    <li><a href="{% url 'mysite:marketing' %}">Marketing</a></li>
                                    <li><a href="{% url 'mysite:media' %}">Media</a></li>
                                </ul>
                            </li>
                            <li id="nav-bar-gallery"><a href="{% url 'mysite:gallery' %}">Gallery</a></li>
                            <li id="nav-bar-contact"><a href="{% url 'mysite:contact' %}">Contact</a></li>
                            <li><a href="{% url 'nitkracing_ev:index' %}">EV Team</a></li>
                        </ul>

                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="top-option">

                        <div class="to-social">
                            <a href="https://www.facebook.com/nitkracing" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/company/nitk-racing" target="_blank"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.youtube.com/channel/UCQ2hGaTidBqanu5chivRTsQ" target="_blank"><i
                                    class="fa fa-youtube-play"></i></a>
                            <a href="https://www.instagram.com/nitkracing/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://twitter.com/nitkracing?lang=en" target="_blank"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>

        <div id="center-banner" style="z-index:-2000;">
            <div class="owl-carousel owl-banner">
                {% for banner in banners_list%}
                    <div class="banner-img" id="banner-{{forloop.counter}}" style="width:100vw;" data-id="{{forloop.counter}}">
                        <img src="{{ banner.bg_img.url }}" style="width:100vw; height:100%;">
                        <div class="banner-text" id="banner-text-{{forloop.counter}}" style="color:white;">
                            <span style="color:white;">{{ banner.small_text }}</span>
                            <h1 style="color:white;">{{ banner.large_text }}</h1>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% block body %}
        {% endblock %}

        <!-- Get In Touch Section Begin -->
        <section class="footer-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="fs-about">
                            <div class="logo">
                                <a href="../">
                                    <img src="{% static 'img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gt-text">
                            <i class="fa fa-map-marker"></i>
                            <p><a target="__blank" href="https://www.google.com/maps/dir//National+Institute+of+Technology,+Karnataka/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3ba35211b768ac8f:0x6b1144ac2d5dadf3?sa=X&ved=2ahUKEwiJx4SN1NTrAhXF8XMBHXhYADoQ9RcwGHoECBAQBA">
                                National Institute of Technology<br> NH 66, Srinivasnagar, Surathkal<br> Mangalore
                                Karnataka <br>
                                575025</a></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gt-text">
                            <i class="fa fa-mobile"></i>
                            <ul>
                                <li><a href="tel:7259159980">7259159980</a></li>
                                <li><a href="tel:7259159980">9113514266</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="gt-text email">
                            <i class="fa fa-envelope"></i>
                            <p><a href="mailto:captain.nitkracing@gmail.com">captain.nitkracing@gmail.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p>Developed and maintained by <strong>Addhyan Malhotra</strong> & <strong>Harshal
                            Shende</strong></p>
                    </div>
                </div>
            </div>
        </section>
    </body>

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.barfiller.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
        var owl = $('.owl-carousel');

        $(document).ready(function(){
            owl.owlCarousel({
                autoplay:true,
                autoplayTimeout:5000,
                dots : true, 
                autoWidth:true,
                items:1,
                onTranslated: function(){
                    var id=$('.owl-item.active .banner-img').data('id');
                    $(".banner-text").hide()
                    $("#banner-text-"+id).hide().fadeIn(2000, function() {})
                },
            });
            $(".banner-text").hide()
            $("#banner-text-1").hide().fadeIn(2000, function() {})
        });

    </script>
    {% block script %}
    {% endblock %}

</html>