{% extends 'base.html' %}
{% load static %}

{% block body %}

<!-- Contact Section Begin -->
<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title contact-title">
                    <span>Contact Us</span>
                    <h2>GET IN TOUCH</h2>
                </div>
                <div class="contact-widget">
                    <div class="cw-text">
                        <i class="fa fa-map-marker"></i>
                          <p>National Institute of Technology<br> NH 66, Srinivasnagar, Surathkal<br> Mangalore Karnataka <br>575025</p>
                    </div>
                    <div class="cw-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>7259159980</li>
                        <li>9113514266</li>
                        </ul>
                    </div>
                    <div class="cw-text email">
                        <i class="fa fa-envelope"></i>
                        <p>captain.nitkracing@gmail.com</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="leave-comment">
                    <form action="#" method="POST">
                            {% csrf_token %}
                        <input name="usr" type="text" placeholder="Name*" required>
                        <input name="mailid" type="text" placeholder="Email*" required>
                        <input name="website" type="text" placeholder="Website" >
                        <textarea name="msg" placeholder="Comment*" required></textarea>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="map">
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=14&center=13.0110%2C74.7943&key=AIzaSyBWImOALNUy0qJIdncDF0Nu43aufbSPuP8" allowfullscreen></iframe>

        </div>
    </div>
</section>

{% endblock %}