{% extends 'base.html' %}
{% load static %}

{% block head %}

<style>

    .class-item .ci-pic-class img {
        min-width: 100%;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transition: 2s ease-in-out;
        transition: 2s ease-in-out;
    }

    .class-item .ci-pic-class:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>

{% endblock %}

{% block body %}

{% include 'our_subsystems.html' %}

<div class="margin-adder"></div>

<section class="gallery-section">
    <div class="section-title">
        <span>A glimpse under the hood</span>
        <h2>3D MODELS</h2>
    </div>
    <div class="gallery">
        <div class="grid-sizer"></div>
        <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js"></script>
        <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
        {% for document in document_list %}

            <model-viewer class="gs-item grid-wide" src="{{ document.document.url }}" alt="{{ document.description }} "
                        auto-rotate camera-controls>
            </model-viewer>

        {% endfor %}

    </div>
</section>

<!-- Team Section Begin -->
<section class="team-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-title">
                    <div class="section-title fade">
                        <h2>MEET THE SQUAD</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ts-slider owl-carousel fade">
                {% for sig_head in sig_head_list %}
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="{{ sig_head.member_img.url }}">
                            <div class="ts_text">
                                <h4>{{ sig_head.member_name }}</h4>
                                <span>{{ sig_head.post }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

</section>
<!-- Team Section End -->
<section class="classes-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title fade">
                    <span>THE SUPPORT SQUAD</span>
                    <h2>SEASON 2020 SPONSORS</h2>
                    <a href="../contact" class="primary-btn btn-normal appoinment-btn">SPONSOR US</a>
                </div>
            </div>
        </div>
        <div class="row" fade>
            <!-- Add sponsors here-->
            {% for sponsor in sponsors_list %}
                <div class="col-lg-3 col-md-4">
                    <div class="class-item fade">
                        <div class="ci-pic-class">
                            <a href="{{ sponsor.sponsor_link }}">
                            <img src="{{ sponsor.img.url }}" alt=""></a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}

{% block script %}

    <script>
        var selected_item = document.getElementById('nav-bar-home');
        selected_item.classList.add('active');
    </script>

{% endblock %}